# Firebase Configuration (Publicly accessible but restricted in console)
VITE_FIREBASE_API_KEY=AIzaSyAZEZtP66JTDXSbmTSFNrt-OIjtqAi53H8
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0116339592.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0116339592
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0116339592.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=876115010528
VITE_FIREBASE_APP_ID=1:876115010528:web:47eb833fdefb0fed304185

# Gemini AI (Strictly Private - Server Side Only)
GEMINI_API_KEY=
